
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Roboto&display=swap');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root {
    --font-color: #08090A;
    --pure-white:  #fff;
    --white: #A7A2A9;
    --secondary: #A7A2A9;
    --third: #575A5E;
    --ui: #222823;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html {
    background-color: var(--ui);
    font-family: 'Montserrat', sans-serif;
    color: var(--pure-white);
    
}
button, input[type="button"]{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 40px;
    background-color: var(--ui);
    color: var(--pure-white);
    border: none;
}

nav {
    color: var(--font-color);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    ul {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        .nav-btn {
            a{
                margin: 5px;
                position: relative;
            }
            //To be move
            .notif {
                position: absolute;
                color: var(--pure-white);
                background-color: #ff1900;
                text-align: center;
                top: -100%;
                right: -10%;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                z-index: 999;

            }
            
        }
        a {
            color: var(--font-color);
            text-decoration: none;
        }
    }
}
nav.scrolled {
    background-color: rgba(255, 255, 255, 0.779) !important;
    transition: background-color 200ms linear;
    //can turn to anycolor
  }

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/car2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .transparent {
    //     position: absolute;
    //     width: 100%;
    //     height: 100vh;
    //     background-color: var(--ui);
    //     opacity: .3;
    // }
    .left {
        width: 100%;
        padding: 1em;
        color: var(--pure-white);
        h1 {
            font-size: 4rem;
            font-weight: bold;
            text-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
        }
    }
    .right {
        width: 30%;
    }
    
    .btn {
        font-family: 'Poppins', sans-serif;
        margin: 10px;
        width: 200px;
        max-width: 300px;
        height: 70px;
        color: var(--pure-white);
        font-weight: bold;
        border: none;
        background-color: var(--ui);
    }


    // .card-container {
    //     justify-content: center;
    //     display: grid;
    //     column-gap: 10px;
    //     row-gap: 10px;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-rows: repeat(2, 1fr);
    //     .card {
    //         padding: 10px;
    //         border-radius: 10px;
    //         width: 100px;
    //         align-self: center;
    //         justify-content: center;
    //         height: 100px;
    //         background-color: var(--secondary);
    //     }
    // }

}



.hero-two {
    width: 100%;
    display: flex;
    .section-details{
        display: flex;
        justify-content: space-around;
        width: 100%;

        .hero-two-container {
            padding: 30px;
            width: 100%;
        
            i {
                font-size: 2rem;
                margin: 10px;

            }
            h1 {
                font-size: 1rem;
                margin: 10px;
            }
            p {
                margin: 10px;
                font-size: 12px;
                text-align: justify;
            }
        }
        .different {
            background-color: var(--white);
            color: var(--ui);
        }
    }

}

.form {
    width:100%;
    height: 100vh;
    background-color: var(--pure-white);
    .form-container {
        width: 80%;
        height: 80vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
        display: flex;

        .left-container {
            width: 100%;
            color: var(--ui);
            display: flex;
            align-items: center;
            justify-content: center;
            form {
                width: 60%;
                margin: 30px;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .social-container {
                    display: flex;
                    gap: 30px;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border: 2px solid;
                        color: var(--ui);
                        border-radius: 50%;
                        text-decoration: none;
                    }
                    
                }
                h1 {
                    font-size: 2em;
                    font-weight: bold;
                }

                input {
                    background-color: #eee;
                    border: none;
                    padding: 12px 15px;
                    width: 100%;
                }
                p {
                    // position: absolute;
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    background-color: var(--ui);
                    color: var(--pure-white);
                    border-radius: 10px;
                    opacity: .7;
                }
            }

        }
        .right-container {
            border-radius: 15px 0px ;
            width: 100%;
            background-color: var(--ui);
            display: flex;
            align-items: center;
            justify-content: center;
            .right {
                width: 70%;

                h1 {
                    font-size: 2rem;
                    margin-bottom: 20px;
                }
                p {
                    font-size: .7rem;
                    margin-bottom: 10px;
                }
                button {
                    background-color: var(--secondary);
                    color: var(--font-color);
                }
            }
        }
    }
    
}


// BOOKING PART================================

.booking-container {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pure-white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .booking-form-container {
        padding: 2rem;
        color: var(--ui);
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        h2 {
        text-align: center;
        }
        .card-container {
            width: 100%;
            display: flex;
            flex-direction: column;

        }
        .card {
            width: 100%;
            margin-top: 10px;
            background-color: var(--ui);
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
    
            .card-image {
                padding: 10px;
                
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
            .card-details {
                width: 80%;
                display: flex;
                padding: 30px;
                color: var(--pure-white);
                .card-text {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
    
                }
            }
    
            .card-btn {
                height: 100%;
                flex-direction: column;
                gap: 20px;
                display: flex;
            }
    
            .btn-car-cart {
                width: 50px;
                height: 50px;
                background-color: var(--secondary);
                border-radius: 50%;
    
            }
    
        }



    }
    .billing-location-container {
        background-color: var(--ui);
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width:80%;

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid var(--pure-white);
            }
        }
        


        .billing-btn {
            background-color: var(--secondary);
            color: var(--font-color);
        }
    }
}
