@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Roboto&display=swap");
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
:root {
  --font-color: #08090A;
  --pure-white: #fff;
  --white: #A7A2A9;
  --secondary: #A7A2A9;
  --third: #575A5E;
  --ui: #222823;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--ui);
  font-family: "Montserrat", sans-serif;
  color: var(--pure-white);
}

button, input[type=button] {
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 40px;
  background-color: var(--ui);
  color: var(--pure-white);
  border: none;
}

nav {
  color: var(--font-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}
nav .navLogo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
}
nav .navLogo a img {
  width: 50px;
  filter: brightness(0);
  height: auto;
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav ul .nav-btn a {
  margin: 5px;
  position: relative;
}
nav ul .nav-btn .notif {
  position: absolute;
  color: var(--pure-white);
  background-color: #ff1900;
  text-align: center;
  top: -100%;
  right: -10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 999;
}
nav ul a {
  color: var(--font-color);
  text-decoration: none;
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 0.779) !important;
  transition: background-color 200ms linear;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/car2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .left {
  width: 100%;
  padding: 1em;
  color: var(--pure-white);
}
.hero .left h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.hero .right {
  width: 30%;
}
.hero .btn {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  width: 200px;
  max-width: 300px;
  height: 70px;
  color: var(--pure-white);
  font-weight: bold;
  border: none;
  background-color: var(--ui);
}

.hero-two {
  width: 100%;
  display: flex;
}
.hero-two .section-details {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero-two .section-details .hero-two-container {
  padding: 30px;
  width: 100%;
}
.hero-two .section-details .hero-two-container i {
  font-size: 2rem;
  margin: 10px;
}
.hero-two .section-details .hero-two-container h1 {
  font-size: 1rem;
  margin: 10px;
}
.hero-two .section-details .hero-two-container p {
  margin: 10px;
  font-size: 12px;
  text-align: justify;
}
.hero-two .section-details .different {
  background-color: var(--white);
  color: var(--ui);
}

.form {
  width: 100%;
  height: 100vh;
  background-color: var(--pure-white);
}
.form .form-container {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
}
.form .form-container .left-container {
  width: 100%;
  color: var(--ui);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .form-container .left-container form {
  width: 60%;
  margin: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form .form-container .left-container form .social-container {
  display: flex;
  gap: 30px;
}
.form .form-container .left-container form .social-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid;
  color: var(--ui);
  border-radius: 50%;
  text-decoration: none;
}
.form .form-container .left-container form h1 {
  font-size: 2em;
  font-weight: bold;
}
.form .form-container .left-container form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  width: 100%;
}
.form .form-container .left-container form p {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: var(--ui);
  color: var(--pure-white);
  border-radius: 10px;
  opacity: 0.7;
}
.form .form-container .right-container {
  border-radius: 15px 0px;
  width: 100%;
  background-color: var(--ui);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .form-container .right-container .right {
  width: 70%;
}
.form .form-container .right-container .right h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.form .form-container .right-container .right p {
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.form .form-container .right-container .right button {
  background-color: var(--secondary);
  color: var(--font-color);
}

.booking-container {
  font-family: "Roboto", sans-serif;
  background-color: var(--pure-white);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.booking-container .booking-form-container {
  padding: 2rem;
  color: var(--ui);
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.booking-container .booking-form-container h2 {
  text-align: center;
}
.booking-container .booking-form-container .card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.booking-container .booking-form-container .card {
  width: 100%;
  margin-top: 10px;
  background-color: var(--ui);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.booking-container .booking-form-container .card .card-image {
  padding: 10px;
}
.booking-container .booking-form-container .card .card-image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.booking-container .booking-form-container .card .card-details {
  width: 80%;
  display: flex;
  padding: 30px;
  color: var(--pure-white);
}
.booking-container .booking-form-container .card .card-details .card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.booking-container .booking-form-container .card .card-btn {
  height: 100%;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.booking-container .booking-form-container .card .btn-car-cart {
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 50%;
}
.booking-container .billing-location-container {
  background-color: var(--ui);
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-container .billing-location-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}
.booking-container .billing-location-container form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--pure-white);
}
.booking-container .billing-location-container .billing-btn {
  background-color: var(--secondary);
  color: var(--font-color);
}

.profile-section {
  color: var(--font-color);
  height: 100vh;
  background-color: var(--pure-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-section div {
  height: 80vh;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.profile-section-left {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.profile-section-left .profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.profile-section-left .profile-btn {
  display: flex;
  gap: 2rem;
}
.profile-section-left .profile-btn .btn-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--pure-white);
  background-color: var(--font-color);
}
.profile-section-left .profile-btn .delete {
  background-color: #ff1900;
}

.profile-section-right {
  color: var(--pure-white);
  width: 30%;
  background-color: var(--ui);
  border-radius: 15px 0px 0px 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-edit-container {
  background-color: var(--pure-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-edit {
  width: 50%;
  padding: 40px;
  background-color: var(--ui);
}
.profile-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile-edit form label {
  border: 1px solid var(--pure-white);
  color: var(--ui);
  background-color: var(--pure-white);
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 10px;
}
.profile-edit form label input[type=text], .profile-edit form label input[type=number] {
  border: none;
}
.profile-edit form input {
  font-family: "Poppins", sans-serif;
  width: 70%;
}
.profile-edit form input[type=submit], .profile-edit form .btn {
  width: 70%;
  text-align: center;
  text-decoration: none;
  color: var(--font-color);
  border: none;
  background-color: var(--secondary);
  padding: 0.7rem;
}
.profile-edit .message {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: var(--pure-white);
  background-color: #ff1900;
}/*# sourceMappingURL=style.css.map */